body {
    font-family:Arial, Helvetica, sans-serif;
    padding: 20px;
    background: #aa1005;
  }
  
  .header {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    background: rgb(0, 0, 0);
    border-radius: 15px;
    color: white;
  }

  .titulo {
    text-align: left;
    font-size: 30px;
  }

  /* Espacio para escribir */
  .card {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    align-items: center;
    color: white;
  }

  .imagenes{
    padding: 20px 20px;
    margin: 30px auto;
    box-shadow:0 2px 10px 0 rgba(219, 19, 129, 0.952);
    display: flex;
    justify-content: center;
  }

  .row{
    align-items: center;
    margin: 20px auto;
    padding: 30px 30px;
  }
